<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='cat.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Search Cats</title>
</head>
<body>
    <h1>Search Cats</h1>
    
    <div class="search_main col-md-9">
        <form action="">

            <label for="name">Name
                <input name="name" class="form-control" type="text" required/>
            </label>
            
            <label for="age" class="form-label">Age (full years)
                <input name="age" class="form-range" type="range"/>
            </label>
            
            <label for="sex">Sex
                <select class="form-control" name="sex">
                    <option selected="selected" value=""></option>
                    {% for option in sex_options%}
                    <option value={{option['name']}}>{{option['name']}}</option>
                    {% endfor %}
                </select>
            </label>
            
            <label for="breed">Breeds
                <input name="breed" class="form-control" type="text" id="breed"/>
            </label>

            <button class="btn btn-default btn-lg btn-block" id="submit_btn">Search</button>

        </form>
    
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Breed</th>
                <th>Eye Colors</th>
                <th>Fur Color</th>
                <th>Country</th>
                <th>Owner</th>
                <th>Description</th>
            </tr>
            {% for cat in cats %}
                <tr>
                    {%for col in cat%}
                        <td>{{cat[col]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <a href="/" class="btn btn-light btn-lg back_btn">Back to Main Page</a>
    </div>
    
        
<script src="{{ url_for('static', filename='script.js') }}">
</script>

</body>
</html>